html, body {
  background-color: white;
  color: white;
  font-size: 18px;
  font-family: "Helvetica";
  margin: 0;

}

.container {
  max-width: 960px;
  margin: 0 auto;
}


/*  LOGO HEADER  */

header {
  display: block;
  color: white;
  padding: 0.66rem 0;
  width: 100%;
  top: 0;
  /* position: fixed; */
  /* z-index: 1; */
  background-color: black;

}

header .logo {
  display: flex;
  align-items: center;
  left: 5%;
  /* margin: 0.66rem 0; */
  font-size: 1rem;
}

.logo img {
  width: auto;
  height: 1.5rem;
  margin: 0 1rem 0 0.5rem;
}


.main {
  /* padding-top: 50px; */

}

/* BANNER */
.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;

}

.text-box {
  color: white;
  width: 20rem;
  background-color: black;
  top: 9rem;
  padding: 2rem 3rem;
  position: relative;
}

.text-box h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: .25rem;
}

.text-box p {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Helvetica";
}


/* NAV BAR */
.nav-bar, .mobile-nav {
  display: block;
  background-color: firebrick;
  width: 100%;
  padding: .75rem 0;
  display: block;
  text-align: center;
}


.nav-bar nav.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav nav.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
}

/* CONTENT */

.products, .contact {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 0 0;

}


  .item {
    width: 30%;
  }

  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    height: 9rem;
    padding: 2rem 0;
  }

  .product-image img {
    max-width: 8rem;
  }


  .item p {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: black;
    text-align: center;

  }


  .info {
    width: 35%;
    /* display: block; */
  }

  .info p {
    /* display: block; */
    color: black;
    /* width: 100%; */
  }

  .info h4 {
    display: block;
    background-color: black;
    left: 2rem;
    padding: 1rem 2rem;

  }


/* FOOTER */

footer {
  display: block;
  background-color: black;
  padding: 5rem 0;
  width: 100%;
  color: white;
  margin-top: 4em;

}

@media only screen and (min-width: 1025px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .item {
    width: 47%;
  }

  .glasses {
    display: none;
  }

  .nav-bar {
    display: none;
  }

  .info {
    width: 35%;
  }

}


@media only screen and (max-width: 470px) {
  .text-box {
    color: white;
    width: 100%;
    top: 10rem;
  }

  .banner {
    display: block;
    height: 15rem;
    margin: 0;
  }

  .text-box h1 {
    font-size: 1rem;
    left: 0;
  }

  .text-box p {
    font-size: .77rem;
    top: 1rem;
  }

  .mobile-nav {
    background-color: blue;
    display: block;
    margin-top: 1rem;
  }

  .item {
    width: 90%;
  }

  .watch {
    display: none;
  }

  .pen {
    display: block;
    margin: 0 auto;
  }

  .contact {
    flex-direction: column;
  }

  .info {
    width: 90%;
    margin-top: 1rem;
  }

  footer {
    text-align: center;
  }
}
